
.container {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.card-auth {
    width: 33%;
    height: 55%;
    box-shadow: 0 0 10000px rgba(2, 3, 84, 0.5);
}
.form {
    margin-top: 10px;
    text-align: left;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }