body {
  margin: 0;
  background-color: #f5f7fa !important;
  padding-top: 46.67px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  width: 3px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #adb5bd;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6c757d;
}
